main {
  width: 90%;
  margin: auto;
}

#listBox{
  display: inline;
}

#itemsInBox{
  text-align: center;
  list-style-type: none;
  width: 150px;
  border: 1px solid black;
  border-radius: 15px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 20px;
}


li{
  padding: 5px;
}